@mixin box-shadow($params) {
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

@mixin translate($params){
    -webkit-transform: $params;
    -ms-transform: $params;
    transform: $params;
}

@mixin transition($params){
    -webkit-transition: $params;
    -o-transition: $params;
    transition: $params;
}

@mixin corners($angle, $start, $end){
    background: -moz-linear-gradient($angle, $start, $end);
    background: -webkit-linear-gradient($angle, $start, $end);
    background: linear-gradient($angle, $start, $end);
}