$poppins_font: "Poppins", sans-serif;
$cochin_font: "Cochin-Italic", serif;
$open_sans_font: "Open Sans", sans-serif;
$default_font_size: 20px;
$pentart-title_font_size: 66px;
$button_font_size: 17px;
$primary_orange: #fd4d1b;
$secondary_orange: #fd4b18;
$default_bg_color: rgba(20, 35, 78, 0.94);
$main_blue: #37139a;
$color_white: #ffffff;
$translate_x: translateX(-50%);
$translate_y: translateY(-50%);
$translate_xy: translate(-50%, -50%);
$transition_all: all ease-in-out 0.3s;
$transition_bg_color: background-color ease-in-out 0.3s;
$transition_color: color ease-in-out 0.3s;
$logo_font_size: 60px;
$top_menu_font_size: 16px;
$slide-overlay_bg_color: rgba(255, 255, 255 ,0.94);
$slide-overlay_bg_color_sm: rgba(255, 255, 255, 0.6);
$slide-title_font_size: 119px;
$slider_button_border_red: #ff0000;
$about_subtitle_font_size: 30px;
$about_right_bg_color: rgba(5, 21, 67, 0.94);
$testimonial_text_color: #0f0e0e;
$contacts_right_bg_color: rgba(34, 48, 88, 0.94);
$contacts_form_placeholder_color: #475274;
$contacts_form_font_size: 15px;
$contacts_form_placeholder_font_size: 17px;
$shop_left_bg_color: rgba(47, 60, 98, 0.94);
$footer_font_size: 17px;
$footer_bg_color: #3b476b;
$footer_logo_color: #fdfdfd;
$footer_logo_color: #fdfdfd;
$footer_logo_font_size: 60px;
$footer_gray_color: #eaeaea;
$footer_column_header_font_size: 31px;
$subscribe_placeholder_color: #918f8f;
$copyright_color: #fcfcfc;